@tailwind base;
@layer base {
  .rich-text h1,
  .rich-text h2 {
    font-size: revert;
    font-weight: revert;
  }
  .rich-text a,
  .rich-text ol,
  .rich-text ul {
    list-style: revert;
    margin: revert;
    padding: revert;
  }
}
@tailwind components;
@tailwind utilities;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
